[submodule "vendor/emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "vendor/openscad"]
	path = vendor/openscad
	url = https://github.com/openscad/openscad.git
